*,
*::before,
*::after{
    box-sizing: border-box;
}


body{
    margin: 0;
}
article {
    margin-block: 2rem;
}

.ball {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border : 1px solid white
}

.ball1 {
    background-color: greenyellow;
}

.ball2 {
    background-color: orange;
}

.ball3 {
    background-color: rgb(30, 129, 228);
}